.setting {
    height: 100vh;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  
  .setting-main-container {
    background-color: rgb(247, 247, 247);
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 80%;
    height: 500px;
    border-radius: 10px;
  }
  
  .setting-main-left {
    width: 20%;
    padding: 30px;
    margin: 20px 0;
    border-right: 1px solid black;
  }
  
  .setting-main-left-ul {
    list-style: none;
  }
  
  .setting-main-left-li {
    padding: 10px 30px;
    border-bottom: 1px solid rgb(67, 67, 67);
    margin: 5px;
  }
  
  .setting-main-right {
    padding: 40px;
  }
  
  .setting-main-right-content {
    display: flex;
    flex-direction: column;
  }
  
  .setting-main-right-head {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .setting-main-right-container {
    display: flex;

    justify-content: space-between;
    align-items: center;
  }
  
  .reset-btn{
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-left: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-out 0.3s;
  }
  
  .reset-btn:hover {
    background-color: #0056b3;
  }

  
  .addExpense-shape-red {
    background-color: #FF4500;
  }
  